@mixin button-reset {
  background: none repeat scroll 0 0 transparent;
  border: medium none;
  border-spacing: 0;
  color: inherit;
  font-size: inherit;
  font-weight: normal;
  line-height: 1;
  margin: 0;
  padding: 0;
  text-align: left;
  text-decoration: none;
  text-indent: 0;
}

/* mixin for multiline */
@mixin multiLineEllipsis($lineHeight: 1.2em, $lineCount: 1, $bgColor: white){
  overflow: hidden;
  position: relative;
  line-height: $lineHeight;
  max-height: $lineHeight * $lineCount;
  text-align: justify;
  margin-right: -1em;
  padding-right: 1em;
  &:before {
    content: '...';
    position: absolute;
    right: 0;
    bottom: 0;
  }
  &:after {
    content: '';
    position: absolute;
    right: 0;
    width: 1em;
    height: 1em;
    margin-top: 0.2em;
    background: $bgColor;
  }
}

.block-with-text {
  @include multiLineEllipsis($lineHeight: 1.2em, $lineCount: 3, $bgColor: white);
}

.block-1 {
  @include multiLineEllipsis($lineHeight: 1.2em, $lineCount: 1, $bgColor: white);
}
.block-2 {
  @include multiLineEllipsis($lineHeight: 1.2em, $lineCount: 2, $bgColor: white);
}
