.ex-dropdown {
  padding: 0 !important;
  margin: 0;
  vertical-align: top !important;

  .dropdown-toggle {
    padding: 0;
    background: none;
    margin: 0;
  }

  .btn {
    border: none !important;
    background: none !important;
  }

  ::after {
    display: none
  }
}
