.ex-edit-plan-activity-number-label {
  margin-bottom: 0;
  font-size: .875rem;
  font-weight: bold;
}

.recovery-plan-week-title {
  position: sticky;
  top: 0;
  padding: 1rem;
  margin: -1rem;
  background-color: #ffffff;
  box-shadow: 0 0 20px rgba(#E4E7E8, .75);
  border-radius: 1rem;
  z-index: 100;
}
